<div class="container">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-8 error">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <img src="./images/error-page.jpg" class="w-100 h-100" alt="PAGE NOT FOUND">
                    </div>
                    <div class="col-lg-12 text-center p-2 linking-div">
                        <span><a href="/">Go to login page</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>