<div class="container p-4">
        <div class="row">
            <div id="heading" class="col-lg-12 mb-3">
                <h3 class="display-5 text-center">Create Account</h3>
            </div>

            <div id="text-content" class="col-lg-6 m-auto text-center mb-3 p-3">
                <span>Sign Up and join the community</span>
                <br>
                <span style="color: fuchsia;">Hurry Up!!!</span>
            </div>
        </div>

        <div class="row">
            <form action="/otp-check" method="post">
                <div class="col-lg-4 m-auto p-3">
                     {{#if msg}}
                        <div class="alert alert-danger">
                            {{msg}}
                        </div>
                    {{/if}}
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Password" name="name">
                <label for="floatingPassword">Name</label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Username" placeholder="name@example.com" name="num">
                <label for="floatingInput">Contact Number</label>
                </div>
                <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="Password" name="mail">
                <label for="floatingPassword">Email</label>
                </div>
                <div class="form-floating mb-5">
                <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
                <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2 col-11 mx-auto">
                    <button id="login" class="btn p-3" type="submit">Button</button>
                </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div id="sign-in" class="col-lg-12 text-center">
                <span><a href="/">Login Page</a></span>
            </div>
        </div>
    </div>